<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cada Inteligente</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style>
        h1 {
            text-align: center;
        }

        .linha {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .container {
            display: flex;
            flex-direction: column;
        }

        .mostradores {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .mostrador {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;

            min-width: 200px;
        }

        .container #btnAutomatico {
            height: 50px;
            width: 700px;
        }

        .linha .tomada {
            margin: 10px;
            padding: 20px 20px;
            border: 1px solid black;
            border-radius: 5px;
            min-width: 340px;
        }

        button:hover {
            cursor: pointer;
            /* background-color: #ddd; */
        }

        button:active {
            background-color: #ccc;
        }

        .active {
            background-color: rgb(37, 150, 190);
        }
    </style>
</head>

<body>
    <h1>Casa Inteligente</h1>
    <div class="container">
        <div class="mostradores">
            <div class="mostrador">
                <h2>Humidade</h2>
                <p id="humidade"><%= humidade %>%</p>
            </div>
            <div class="mostrador">
                <h2>Temperatura</h2>
                <p id="temperatura"><%= temperatura %>ºC</p>
            </div>
            <div class="mostrador">
                <h2>luz</h2>
                <p id="luz"><%= lux %>lx</p>
            </div>
        </div>

        <div class="linha">
            <button id='btnAutomatico' <% if (automatico) { %> class="active" <% } %>>Automatico</button>
        </div>

        <div class="linha">
            <button id="btnTomada1" class="tomada <% if (tomada1) { %> active <% } %>">Tomada 1</button>
            <button id="btnTomada2" class="tomada <% if (tomada2) { %> active <% } %>">Tomada 2</button>
        </div>
    </div>

    <script>
        // on click in button all buttons add class active
        const btnTomadas = document.querySelectorAll('.tomada');
        btnTomadas.forEach(button => {
            button.addEventListener('click', () => {
                button.classList.toggle('active');
            })
        })

        let btnAutomatico = document.getElementById('btnAutomatico');
        btnAutomatico.addEventListener('click', () => {
            if (btnAutomatico.classList.contains('active')) {
                btnAutomatico.classList.remove('active');
                // enable all buttons
                btnTomadas.forEach(button => {
                    button.disabled = false;
                })
            } else{
                btnAutomatico.classList.toggle('active');
                // disable all buttons
                btnTomadas.forEach(button => {
                    button.classList.remove('active');
                })

                btnTomadas.forEach(button => {
                    button.disabled = true;
                })
            }
        })

        if (btnAutomatico.classList.contains('active')) {
                btnAutomatico.classList.remove('active');
                // enable all buttons
                btnTomadas.forEach(button => {
                    button.disabled = false;
                })
            } else{
                btnAutomatico.classList.toggle('active');
                // disable all buttons
                btnTomadas.forEach(button => {
                    button.classList.remove('active');
                })

                btnTomadas.forEach(button => {
                    button.disabled = true;
                })

            }

        
    </script>
</body>

</html>