h1 {
    text-align: center;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}   

.mostradores {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mostrador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

    min-width: 200px;
}

.container #btnAutomatico {
    height: 50px;
    width: 700px;
}

.linha .tomada {
    margin: 10px;
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 340px;
}

button:hover {
    cursor: pointer;
    /* background-color: #ddd; */
}

/* button:active {
    background-color: #ccc;
} */

.active {
    background-color: rgb(37, 150, 190);
} 